.reels {
  background-image: url('../Assets/Images/Sign.png');    
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 270px;
}
  
.window {
  overflow: hidden;
  position: relative;
}

.reel {
  position: absolute;
  transition: all 1s ease;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
  }
}

  